@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Barlow Condensed", -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #181818 url(./assets/bg-texture.png);
    color: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-medium;
    }

    h4 {
        @apply text-xl font-semibold;
    }

    h5 {
        @apply text-gray-400 font-semibold;
    }

    .skill small {
        @apply text-gray-400;
    }

    section,
    nav,
    footer {
        @apply mt-64 mx-auto text-center;
    }

    nav {
        @apply bg-metal/30 max-w-max px-7 py-3 z-10 fixed left-1/2 -translate-x-1/2 bottom-4 flex gap-3 rounded-full backdrop-blur-lg;
    }

    nav a {
        @apply bg-transparent p-4 rounded-full flex text-bermuda text-lg;
    }

    nav a:hover {
        @apply bg-night/30;
    }

    nav a.active {
        @apply bg-night/50 text-white;
    }

    article {
        @apply flex items-start;
    }

    input,
    textarea {
        @apply w-full p-4 rounded-lg bg-transparent border-2 border-bermuda resize-none;
    }
}

@layer components {
    .btn {
        @apply border border-bermuda bg-bermuda hover:bg-transparent font-semibold rounded-sm px-4 py-2;
    }

    .social {
        @apply flex flex-col items-center gap-4 absolute bottom-20 left-2 md:left-8 after:content-[''] after:h-8 after:w-0.5 after:bg-bermuda;
    }

    .about {
        @apply flex flex-col xl:flex-row justify-center md:justify-between gap-12 my-24;
    }

    .bg-img {
        @apply bg-gradient-to-br from-bermuda via-bermuda/20 to-bermuda w-60 h-60 lg:w-96 lg:h-96 rounded-3xl mx-auto;
    }

    .about-img {
        @apply w-60 h-60 lg:w-96 lg:h-96 rounded-3xl rotate-[10deg] hover:rotate-0 duration-500 mx-auto select-none;
    }

    .about-card {
        @apply flex flex-col md:flex-row justify-center md:justify-center items-center gap-8 mx-auto select-none;
    }

    .card {
        @apply w-40 h-40 lg:w-56 lg:h-56 bg-night p-8 flex flex-col justify-center items-center rounded-3xl whitespace-nowrap;
    }

    .card:hover {
        @apply bg-night/30 hover:bg-shadow;
    }

    .card p {
        @apply text-sm text-gray-400;
    }

    .title {
        @apply text-2xl font-semibold pt-4 pb-1;
    }

    .experience {
        @apply basis-1/2 bg-night hover:bg-night/30 hover:border hover:border-bermuda hover:bg-shadow p-4 md:p-12 rounded-3xl;
    }

    .all-skill {
        @apply grid grid-cols-2 items-center mt-12 whitespace-nowrap;
    }

    .skill {
        @apply text-left my-2;
    }

    .services {
        @apply flex flex-col lg:flex-row items-center justify-center gap-8 mx-auto my-24;
    }

    .icon {
        @apply text-bermuda text-xl mr-4 my-3;
    }

    .portfolio {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center md:justify-between gap-12 mt-24;
    }

    .work {
        @apply w-60 md:w-72 xl:w-96 p-4 md:p-6 rounded-xl bg-midnight flex flex-col gap-4;
    }

    .contact {
        @apply flex flex-col gap-5 w-4/5 mx-auto;
    }
}

@layer utilities {
    .bg-shadow {
        box-shadow: #01c38d 0px 2px 4px 0px, #01c38d 0px 2px 16px 0px;
    }
}
